[submodule "contrib/p4est"]
	path = contrib/p4est
	url = git@github.com:cburstedde/p4est.git
	ignore=dirty
[submodule "contrib/mxml"]
	path = contrib/mxml
	url = git@github.com:michaelrsweet/mxml.git
	ignore=dirty
[submodule "contrib/petsc"]
	path = contrib/petsc
	url = https://bitbucket.org/petsc/petsc
	ignore=dirty
