[submodule "contrib/p4est"]
	path = contrib/p4est
	url = http://github.com/cburstedde/p4est.git
	ignore=dirty
[submodule "contrib/mxml"]
	path = contrib/mxml
	url = http://github.com/michaelrsweet/mxml.git
	ignore=dirty
[submodule "contrib/libyaml"]
	path = contrib/libyaml
	url = https://github.com/yaml/libyaml.git
	ignore=dirty
[submodule "contrib/yaml-cpp"]
	path = contrib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore=dirty

